.mini{

    display: inherit !important;
}


.cambia_fondo{
   
    width: 20%;
    margin-left: 79%;
    
    
}

.header{
    width: 80%;
    margin-left: 10%;
    height: 15%;
    }


    .header h1{

        
        font-size: 3em;
    
    }




