.big{

display: none;

}

.medium{

    display: none;
}
.mini{
    display: none;
}

.contenedor{
background-color: grey;
border-color:black;
height: 1000px;
width: 100%;
margin: 0px;
padding: 0px;




}

.header{

text-align: center;
border-style: solid;
background-color: rgba(108, 243, 108, 0.75);
padding: 1em;
margin:1em;
box-sizing: border-box;
border-radius: 2em;
height: 15%;




}

.descripcion{

    text-align: center;
    border-style: solid;
    background-color: rgba(21, 122, 21, 0.75);
    padding: 2em;
    margin:1em;
    box-sizing: border-box;
    border-radius: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 15%;
    
 

}


.contenido{

background-color: salmon;
height: 50%;

margin:1em;


box-sizing: border-box;
border-radius: 2em;
overflow: hidden;

}




.pie{
    background-color:white;
    clear: both;
    height: 15%;
    text-align: center;
    border-radius: 1em;
    padding:0;
    box-sizing: border-box;
    border-style: solid;
margin:0;
position: relative;
overflow: hidden;



}

/*   dar formato a etiquetas especiales*/

.header h1{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;

}




.inscripcion h3{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.premios h3{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


li img{

    width: 3em;
    height: 3em;
    border-radius: 1em;
        
}


form input{

    width: 10em;
}



 
.premios li{

    border-radius: 1em;
    border-style: double;
    box-sizing: border-box;
    
    width: 90%; 
    display: inline-block;
      
    padding: 0;
    margin: 1em;
    
          
  
}

.premios ol{

   
    text-align: center;
    margin:0;
    width: 100%;
    
    padding: 0;
    box-sizing: border-box;
    
}
.premios img{
width:2em ;
height:2em ;
border-radius: 100px;

}

.gana1{
background-image: url("fondo_dorado.jfif") ;
}
.gana2{
    background-image: url("fondo_plata.jfif") ; 
}
.gana3{
    background-image: url("fondo_bronce.jfif") ; 
}

.pie .contacto a{

display: inline-block;
margin: 1em;
padding: 1em;
border-style: double;
text-decoration: none;





}

.pie h3{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto{
    
    width: 30%;
    background-color: aqua;    
    margin: 0;
    padding: 0;
    float: left;
    border-style: double;
    
}

.contacto h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pie .icon{

    color: white;
    border-radius: 50px;
}

 .icon-facebook{
     background-color: #3b5998;
 }



 .icon-twitter{
 background-color: #00acee;
 }

 .icon-whatsapp{
    background-color: #128C7E;
    }

    .icon-instagram{
        background-color: #3f729b;
        }


  

  #fq{
      width: 30%;
      position: absolute;
      left:30%;
      border-style: double;
     
      
      
      
          
  }

  #fq h3{
      height: 10%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #fq ul{
      
       
         
  }

  #fq li{
      height: 1em;
      
  }