.mini{

    display: inherit !important;
}
body{

    background-color: yellow;
}

.inscripcion{
    

    background-color: skyblue;
    border-style: solid;
    float: left;
    width: 42%;
    height: 80%;
    box-sizing: border-box;
    margin:1em;
    padding: 0;
    position: relative;
   
    
    
    }

 
    .inscripcion form{
    
        border-style: double;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color:white;
       
        margin:0;
       
        }  
        form input{

margin: 0;
padding: 0;

        } 

        .premios{
            background-color: springgreen;
            float: right;
            width: 42%;
            height: 80%;
            border-style: solid;
            margin:1em;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            
            
            }